h1{
  color: rgb(95, 118, 138);
  text-align: center;
}
h2{
  margin-top:50px;
  padding-top: 10px;
}
hr{
margin: 1em; 
}


div{
 background-color: rgb(209, 202, 202);
margin: auto;
align-items: center;
 font-weight: bold;
 white-space: pre;
 width:30%;
 height:40%;
 

}
input{  
    background-color: rgb(91, 97, 97);
    height:35px;
    opacity:60%;
    width:90%;
    border-radius: 30px;
    border: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: black;
    
  margin-left: 10px;}
    *{margin: 0px;
      padding: 0%;

    }
    
    

    form{
      padding-left: 10px;
      word-spacing: 2px;
      border: black double 2px;
  }
button{height:35px;
    width:90%;
    margin:0 auto;
    display: block;
    background-color: rgb(95, 87, 87);
color: rgb(255, 255, 255);

}
body{background-repeat: no-repeat;
background-size: cover;

}
