:root {
    --navbar-text: white;
    --hover-navBar: #60e6f7;
    --countrySelect: #d4fcf6;
    --countrySelect-border: black;

}
























































































































































































