
@import url(./colors.css);
@import url(./fonts.css);


.navbar-dark {
    background-color: #0a3d69;
    padding-left: 2%;
    padding-right: 2%;
}

.searchIcon {
    padding-bottom: 10px;
    color: var(--navbar-text);
    border-color:var(--navbar-text);
    border-radius: 20px;
}
.searchIcon:hover {
    background-color: var(--hover-navBar);
    opacity: .9;
}

.nav-item {
    color: var(--navbar-text);
}

#countrySelectLabel {
    border-right: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-width: 1px;
    border-color: var(--countrySelect-border);

    background-color: var(--countrySelect);

    font-family: var(--countrySelect-font);
    font-size: var(--countrySelect-size);
}

#countrySelect{
    width: fit-content;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
    border-width: 1px;
    border-color: var(--countrySelect-border);

    background-color: var(--countrySelect);
    
    font-family: var(--countrySelect-font);
    font-size: var(--countrySelect-size);
}

.locations {
    display: flex;
    justify-content: center;
}

.location {
    background-color: #f9d4fc;
    border-color: black;
    padding: auto;
}