@import url(./colors.css);

.navbar-dark {
    background-color: #0a3d69;
    padding-left: 2%;
    padding-right: 2%;
}

.searchIcon {
    padding-bottom: 10px;
    color: var(--navbar-text);
    border-color:var(--navbar-text);
    border-radius: 20px;
}
.searchIcon:hover {
    background-color: var(--hover-navBar);
    opacity: .9;
}

.nav-item {
    color: var(--navbar-text);
}