
@import url(./colors.css);
@import url(./fonts.css);

body {
    color: black;
}

.navbar-dark {
    background-color: var(--navBar);
    padding-left: 2%;
    padding-right: 2%;
}

.searchIcon {
    padding-bottom: 10px;
    color: var(--navbar-text);
    border-color:var(--navbar-text);
    border-radius: 20px;
}
.searchIcon:hover {
    background-color: var(--hover-navBar);
    opacity: .9;
}

.nav-item {
    color: var(--navbar-text);
}

.navbar-right ul a {
    text-align: right;
}

.carouselImg {
    width: 100%;
    height: 10%;
    padding-bottom: 10px;

}

#countrySelectLabel {
    border-right: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-width: 1px;
    border-color: var(--countrySelect-border);

    background-color: var(--countrySelect);

    /*font-family: var(--countrySelect-font);*/
    font-size: var(--countrySelect-size);
}

#countrySelect{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
    border-width: 1px;
    border-color: var(--countrySelect-border);

    background-color: var(--countrySelect);
    
    /*font-family: var(--countrySelect-font);*/
    font-size: var(--countrySelect-size);
}

.locations {
    display: flex;
    justify-content: center;
}

#countryPrompt {
    font-weight: 700;
    text-align: center;

    border: 20px;
    border-style: dashed;
    border-color: black;

    padding: 50px;
    margin: 100px;
}
.location {
    /*background-color: #f9d4fc;*/
    border-radius: 8px;
    padding-top: 10px;

    display: none;

    transition: all .3s ease-in-out;
}

.location:hover {
    background-color: var(--locationHover);
    transform: scale(1.05); 
}

.page-footer {
    background-color: var(--navBar);
    color: var(--navbar-text);
}

button {
    cursor: pointer;
}

#logedIn {
    display: none;
}